body {
  background-color: #dde2e3;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  font-size: 25px;
}

.title {
  font-family: 'Special Elite', cursive;
}

.caption {
  font-family: 'Fugaz One', cursive;
  font-weight: lighter;
}

.comment {
  list-style-type: none;
}